/* Image */
.img-round {
    border-radius: 100%;
    border: 4px solid #eeeeee;
}

.img-center {
    display: table-cell;
    margin: 0 auto;
}

.my-img {
    display: table-cell;
    height: 200px;
    width: 200px;
    vertical-align: middle;
    text-align: center;
}

/* Heading */
.hero-section {
    margin-bottom: 4rem ;
}

/* Post*/
.post {
    padding: 10px;
    background: #fafafa;
    margin-bottom: 10px;
    border: 2px solid #5a5a5a;
    box-shadow: 2px 2px 0px;
}

.post a {
    font-weight: bold;
/*    text-decoration: none;*/
    color: #121212;
}

/* Projects */
.projects h4{
    border-left: 4px solid #5a5a5a;
    padding: 6px 4px;
    background: #eee;
}

.projects li {
    list-style: square;
}

/* Misc Helpers */
.pull-right {
    float: right;
}

.exerpt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.exerpt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.padding-sides-sm {
    padding: 0 10px;
    box-sizing: border-box
}

/* Media Queries*/
@media screen and (max-width: 480px) {
    /* mobile */
    .hero-section {
        margin-bottom: .4rem;
    }
}

hr {
    border: 1px solid #121212;
}
